# App
NODE_ENV=development
PORT=4000
APP_URL=https://yourdomain.com
API_URL=https://api.yourdomain.com
ADMIN_URL=https://admin.yourdomain.com
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=30d
ACCESS_TOKEN_EXPIRATION=30d

# MongoDB Atlas
MONGO_URI=mongodb+srv://altovxr_db_user:5VjQ79JKDs9BJwkf@cluster0.qkzcnfy.mongodb.net/classifieds_db?retryWrites=true&w=majority

# DigitalOcean Spaces (S3-compatible)
SPACES_ENDPOINT=https://sgp1.digitaloceanspaces.com
SPACES_REGION=sgp1
SPACES_BUCKET=your-bucket
SPACES_KEY=your-access-key
SPACES_SECRET=your-secret
SPACES_CDN_BASE=https://your-cdn-domain-or-spaces-cdn-url

# OTP / SMS Aggregator
SMS_PROVIDER=your_aggregator_name
SMS_API_URL=https://sms-provider-api/send
SMS_API_KEY=xxxx
SMS_SENDER=YourBrand

# Rate limit
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=200

# Upload
MAX_IMAGES_PER_LISTING=8
MAX_IMAGE_SIZE_MB=8

# Payments
PAYMENT_PROOF_BUCKET_PREFIX=payment-proofs/
LISTING_MEDIA_BUCKET_PREFIX=listings/

CLOUDINARY_API_SECRET=kKzNtGOn81Ksutg5LLM36RyhqaM
CLOUDINARY_API_KEY=384144735151372
CLOUDINARY_CLOUD_NAME= db9olj6d6